<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.repository.ChatDAO">

	<insert id="createChatroom">
<!-- 	매개변수 ChatRoomDTO의 roomNo에 값을 setting. ChatRoomJoin을 위함. -->
<!-- BEFORE = 명령문 실행전에 실행 // keyProperty = ~이라는 변수를 찾아가서 저장한다 -->
		<selectKey keyProperty="roomNo" resultType="int" order="BEFORE">
			select seqRoomNo.nextval from dual
		</selectKey>
	
		insert into chatroom(roomNo, roomTitle, maxUserCount, roomType)
			values(#{roomNo}, #{roomTitle}, #{maxUserCount}, #{roomType})
	</insert>
	
	<insert id="insertChatRoomJoin">
<!-- 	merge는 원래 on 조건절 비교로 있으면 update, 없으면 insert를 한번에 처리하기 위한 구문이지만 -->
<!-- 	지금은 있으면 pass, 없으면 insert로 처리 -->
		merge into chatRoomJoin c using dual
			on (c.roomNo = #{roomNo} and c.userid = #{userid})
		when not matched then
			insert (roomNo, userid, isWatching, lastReadMsgNo)
			values(#{roomNo}, #{userid}, #{isWatching}, #{lastReadMsgNo})
	</insert>
	
	<select id="selectChatroom" resultType="com.itbank.model.ChatRoomDTO">
		select * from chatRoom order by roomNO desc
	</select>
	
	<select id="selectChatHistory" resultType="com.itbank.model.ChatMessageDTO">
		select * from chatMessage where roomNo = #{roomNo} 
			and sendTime >= (select joinDate from chatRoomJoin 
			where roomNo = #{roomNo} and userid = #{userid}) 
			order by msgNo asc
	</select>
	
	<insert id="insertChatMessage">
		insert into chatMessage(msgNo, roomNo, senderId, messageContent)
			values(seqMsgNo.nextval, #{roomNo}, #{senderId}, #{messageContent})
	</insert>
	
	<update id="updateAllLastReadMsgNo">
		update chatRoomJoin 
			set lastReadMsgNo = (select MAX(msgNo) from chatMessage where roomNo = #{roomNo})
			where roomNo = #{roomNo} and isWatching = 'Y'
	</update>
	
	<update id="updateWatching">
		update chatRoomJoin set isWatching = #{isWatching}
			where roomNo = #{roomNo} and userid = #{userid}
	</update>
	
	<select id="countMyRooms">
		select count(*) from chatRoomJoin where userid = #{userid}
	</select>
	
	<select id="selectMyRooms" resultType="com.itbank.model.ChatRoomDTO">
		select r.* from chatroom r join chatRoomJoin j
			on r.roomNo = j.roomNo
			where j.userid = #{userid}
	</select>
	
	<update id="updateLastReadMsgNo">
<!-- 	값없으면 0반환 = NVL -->
		update chatRoomJoin 
			set lastReadMsgNo = (select NVL(MAX(msgNo), 0) from chatMessage where roomNo = #{roomNo}) 
			where roomNo = #{roomNo} and userid = #{userid}
	</update>

</mapper>